.fs-12 {
  font-size: 0.75rem !important;
}
.fs-13 {
  font-size: 0.8125rem !important;
}
.fs-14 {
  font-size: 0.875rem !important;
}
.fs-15 {
  font-size: 0.9375rem !important;
}
.fs-16 {
  font-size: 1rem !important;
}
.fs-17 {
  font-size: 1.0625rem !important;
}
.fs-18 {
  font-size: 1.125rem !important;
}
.fs-19 {
  font-size: 1.1875rem !important;
}
.fs-20 {
  font-size: 1.25rem !important;
}
.fs-21 {
  font-size: 1.3125rem !important;
}
.fs-22 {
  font-size: 1.375rem !important;
}
.fs-23 {
  font-size: 1.4375rem !important;
}
.fs-24 {
  font-size: 1.5rem !important;
}

// Font Weight
.fw-normal {
  font-weight: 400 !important; /* normal */
}
.fw-semibold {
  font-weight: 600 !important; /* semi-bold */
}
.fw-bold {
  font-weight: 700 !important; /* bold */
}
.fw-bolder {
  font-weight: 800 !important; /* bolder */
}
.list-unstyled {
  list-style: none;
  padding: 0;
}
