<section
  id="intro-one-section"
  class="home-intro-section bg-primary pb-80 pt-100 d-flex flex-column align-items-centent justify-content-between"
>
  <div class="container h-100">
    <div class="text-center col-lg-7 mx-auto">
      <div class="mb-50">
        <h1 class="home-intro-title text-white">
          Best Material Design App Landing Page
        </h1>
        <div class="home-intro-desc text-white">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque totam
          sint suscipit accusamus fugit quibusdam similique maxime distinctio
          reiciendis at.
        </div>
        <div>
          <button mat-raised-button id="frontend-btn">
            <mat-icon>get_app</mat-icon> Buy Now
          </button>
        </div>
      </div>
      <div>
        <div class="intro-product px-30">
          <img
            width="600"
            mat-card-image
            src="assets/images/main.png"
            [style.margin]="'0 !important'"
          />
        </div>
      </div>
    </div>
  </div>
</section>
