<div id="feature-section" class="featured-two py-50 py-md-80 bg-grey">
  <div class="container">
    <div class="text-center col-lg-7 mx-auto mb-50">
      <div>
        <h2 class="title-page">Features that you can trust upon</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id
          error rem qui. Neque aperiam saepe placeat vero reprehenderit.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-40">
        <div class="feature-two">
          <span class="feature-count">01.</span>
          <div class="feature-content">
            <h3 class="fw-bold">Fully Resposive</h3>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-40">
        <div class="feature-two">
          <span class="feature-count">02</span>
          <div class="feature-content">
            <h3 class="fw-bold">Unde Omnis Iste</h3>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-40">
        <div class="feature-two">
          <span class="feature-count">03.</span>
          <div class="feature-content">
            <h3 class="fw-bold">Natus Error Sit</h3>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-40">
        <div class="feature-two">
          <span class="feature-count">04.</span>
          <div class="feature-content">
            <h3 class="fw-bold">Voluptatem Quia</h3>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-40">
        <div class="feature-two">
          <span class="feature-count">05.</span>
          <div class="feature-content">
            <h3 class="fw-bold">Nemo Enim Ipsam</h3>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-40">
        <div class="feature-two">
          <span class="feature-count">06.</span>
          <div class="feature-content">
            <h3 class="fw-bold">Eaque Ipsa Quae</h3>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
