<section
  id="intro-one-section"
  class="home-intro-section bg-primary d-flex flex-column align-items-centent justify-content-between"
>
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-lg-6 pe-xl-30 pe-xxl-60 mb-40 mb-lg-0">
        <h1 class="home-intro-title text-white">
          Soccer API
        </h1>
        <div class="home-intro-desc text-white">
          A Python library that connects <a href="https://www.api-football.com/">API-Football</a> to several 
          online football data providers and allow for the easier collection of league, team and player data 
          for use by amateur football data analysts.
        </div>
        <div>
          <a href="https://github.com/JohnComonitski/SoccerAPI?tab=readme-ov-file#getting-started" mat-raised-button id="frontend-btn">
            Getting Started!
          </a>
        </div>
      </div>
      <div class="col-lg-6 pe-xl-10 ps-xxl-40">
        <div class="intro-product">
          <img
            mat-card-image
            src="assets/images/main.png"
            [style.margin]="'0 !important'"
          />
        </div>
      </div>
    </div>
  </div>
</section>
