<section id="contact-section" class="bg-grey py-50 py-md-80">
  <div class="container">
    <div class="text-center mb-50 white-color">
      <div class="col-lg-7 mx-auto">
        <h2 class="title-page">Get in Touch</h2>
        <p class="lead w-60">
          Have questions or need support? Send us a message and we'll get back
          to you as soon as possible.
        </p>
      </div>
    </div>

    <form action="">
      <div class="mb-20">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Full Name</mat-label>
          <input class="px-20" matInput placeholder="Enter your full name" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>

      <div class="mb-20">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email Address</mat-label>
          <input
            class="px-20"
            matInput
            type="email"
            placeholder="Enter your email address"
          />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>

      <div class="mb-20">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Subject</mat-label>
          <input class="px-20" matInput placeholder="Subject of your message" />
          <mat-icon matSuffix>subject</mat-icon>
        </mat-form-field>
      </div>

      <div class="mb-20">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Your Message</mat-label>
          <textarea
            matInput
            rows="5"
            class="px-20"
            placeholder="Write your message here..."
          ></textarea>
          <mat-icon matSuffix>message</mat-icon>
        </mat-form-field>
      </div>
      <button mat-flat-button class="px-25 py-20">Send</button>
    </form>
  </div>
</section>
