<footer class="footer-wrapper py-60">
  <div class="container">
    <div class="row">
      <div class="col-md-8 footer-item">
        <div class="footer-logo">
          <h2>Soccer API</h2>
        </div>
        <p><em>
          Data collected by this library belongs to its respective rights holders. Soccer API is a learning tool. Data collected using this library should ONLY be used for private projects/research and NOT commercial purposes.
        </em></p>
      </div>
      <div class="col-md-4 footer-item">
        <mat-list>
          <mat-list-item>
            <p class="text-footer">Contact:</p>
          </mat-list-item>
          <mat-list-item>
            <p class="text-footer">JohnComonitski&#64;gmail.com</p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</footer>
