<section id="feature-section" class="py-50 py-md-80">
  <div class="container">
    <div class="text-center col-lg-7 mx-auto text-center mb-80">
      <div>
        <h2 class="title-page">Features</h2>
        <p>
          By utilizing a database mapping the IDs of over 82,000 players, 4200 teams, and 200 leagues, Soccer API
          allows for the seamless programatic access and combination of data across many of the most prominent
          football statistic websites.
        </p>
      </div>
    </div>
    <div class="row g-5 text-center featured-section">
      <div class="col-md-6 col-xl-3 feature-item">
        <i class="material-icons">directions_run</i>
        <h4 class="mt-25 mb-30">+82,000 Players</h4>
        <p>Access to the cross-site ID mapping of over 82,000 players</p>
      </div>
      <div class="col-md-6 col-xl-3 feature-item">
        <i class="material-icons">shield</i>
        <h4 class="mt-25 mb-30">+4,200 Teams</h4>
        <p>Access to the cross-site ID mapping of over 4,200 teams</p>
      </div>
      <div class="col-md-6 col-xl-3 feature-item">
        <i class="material-icons">emoji_flags</i>
        <h4 class="mt-25 mb-30">+200 Leagues</h4>
        <p>Access to the cross-site ID mapping of over 200 leagues</p>
      </div>
      <div class="col-md-6 col-xl-3 feature-item">
        <i class="material-icons">monetization_on</i>
        <h4 class="mt-25 mb-30">Market Values</h4>
        <p>Get the latest market values of players, teams and leagues</p>
      </div>
      <div class="col-md-6 col-xl-3 feature-item">
        <i class="material-icons">dataset</i>
        <h4 class="mt-25 mb-30">Generate Statistics</h4>
        <p>Collect players, teams and match statistics</p>
      </div>
      <div class="col-md-6 col-xl-3 feature-item">
        <i class="material-icons">timer</i>
        <h4 class="mt-25 mb-30">Real-Time Results</h4>
        <p>Access to near real-time fixture results and statistics</p>
      </div>
      <div class="col-md-6 col-xl-3 feature-item">
        <i class="material-icons">account_tree</i>
        <h4 class="mt-25 mb-30">Combine Data Sources</h4>
        <p>Programmatically and easily combine data from multiple sources to perform data driven scouting</p>
      </div>
      <div class="col-md-6 col-xl-3 feature-item">
        <i class="material-icons">insert_chart</i>
        <h4 class="mt-25 mb-30">Create Visualizations</h4>
        <p>Generate data visualizations using player, club and league statistics</p>
      </div>
    </div>
  </div>
</section>
