<section id="pricing-section" class="py-50 py-md-80">
  <div class="container">
    <div class="text-center mb-50">
      <div class="col-lg-7 mx-auto">
        <h2 class="title-page">Affordable Prices</h2>
        <p class="">
          Consectetur adipisicing elit. Velit id error rem qui. Neque aperiam
          saepe placeat vero reprehenderit.
        </p>
      </div>
    </div>
    <div class="row g-5">
      <!-- Pricing box -->
      <div class="col-md-6 col-lg-4">
        <mat-card class="plan-pricing text-center p-0 overflow-hidden">
          <mat-card-title class="bg-primary p-25">
            <div class="card-title-text">
              <h1 class="text-white"><strong>Basic</strong></h1>
              <div class="text-white">
                <p class="mb-0">$ 9.99 / year</p>
              </div>
            </div>
          </mat-card-title>
          <mat-card-content>
            <mat-list class="mb-1">
              <mat-list-item>
                <p>10GB Storage</p>
              </mat-list-item>
              <mat-list-item>
                <p>10 Emails</p>
              </mat-list-item>
              <mat-list-item>
                <p>10 Domains</p>
              </mat-list-item>
              <mat-list-item>
                <p>1GB Bandwidth</p>
              </mat-list-item>
            </mat-list>
            <button mat-flat-button class="px-30 py-15 fs-16">Buy</button>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Pricing box -->
      <div class="col-md-6 col-lg-4">
        <mat-card class="plan-pricing text-center p-0 overflow-hidden">
          <mat-card-title class="bg-primary p-25">
            <div class="card-title-text">
              <h1 class="text-white"><strong>Pro</strong></h1>
              <div class="text-white">
                <p class="mb-0">24.99 / year</p>
              </div>
            </div>
          </mat-card-title>
          <mat-card-content>
            <mat-list class="mb-1">
              <mat-list-item>
                <p>25GB Storage</p>
              </mat-list-item>
              <mat-list-item>
                <p>25 Emails</p>
              </mat-list-item>
              <mat-list-item>
                <p>25 Domains</p>
              </mat-list-item>
              <mat-list-item>
                <p>2GB Bandwidth</p>
              </mat-list-item>
            </mat-list>
            <button mat-flat-button class="px-30 py-15 fs-16">Buy</button>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Pricing box -->
      <div class="col-md-6 col-lg-4">
        <mat-card class="plan-pricing text-center p-0 overflow-hidden">
          <mat-card-title class="bg-primary p-25">
            <div class="card-title-text">
              <h1 class="text-white"><strong>Premium</strong></h1>
              <div class="text-white">
                <p class="mb-0">$ 49.99 / year</p>
              </div>
            </div>
          </mat-card-title>
          <mat-card-content>
            <mat-list class="mb-1">
              <mat-list-item>
                <p>50GB Storage</p>
              </mat-list-item>
              <mat-list-item>
                <p>50 Emails</p>
              </mat-list-item>
              <mat-list-item>
                <p>50 Domains</p>
              </mat-list-item>
              <mat-list-item>
                <p>5GB Bandwidth</p>
              </mat-list-item>
            </mat-list>
            <button mat-flat-button class="px-30 py-15 fs-16">Buy</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
