<section class="gap bg-grey tab-group py-50 py-md-80">
  <div class="container">
    <div class="text-center mb-50">
      <div class="col-lg-7 mx-auto">
        <h2 class="title-page">Ready to Use Code</h2>
        <p>
          Built with modern development standards, our templates come with
          clean, modular code – perfect for rapid customization and scalability.
        </p>
      </div>
    </div>
    <div class="col-md-10 mx-auto">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <!-- Customization Tab -->
        <mat-tab label="Customization">
          <div class="row mt-50 mx-0">
            <div class="col-md-7">
              <h3 class="mb-20">Tailor It Your Way</h3>
              <p class="mb-30">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam eos nostrum pariatur mollitia, adipisci quas soluta
                itaque aperiam asperiores, praesentium aut aliquam debitis ipsum
                totam. Unde quibusdam, at nesciunt veritatis libero distinctio
                mollitia, nobis blanditiis sint officia corrupti itaque repellat
                recusandae animi. In labore cum vitae voluptatem corrupti?
                Reprehenderit, corporis!
              </p>
              <ul class="icons-list list-unstyled">
                <li class="fs-22 mb-25 d-flex align-items-center">
                  <i class="material-icons fs-24 me-20">tune</i>
                  <span>Modular & maintainable structure</span>
                </li>
                <li class="fs-22 mb-25 d-flex align-items-center">
                  <i class="material-icons fs-24 me-20">palette</i>
                  <span>Theme customization made simple</span>
                </li>
                <li class="fs-22 mb-25 d-flex align-items-center">
                  <i class="material-icons fs-24 me-20">developer_mode</i>
                  <span>Angular best practices followed</span>
                </li>
                <li class="fs-22 mb-25 d-flex align-items-center">
                  <i class="material-icons fs-24 me-20"
                    >integration_instructions</i
                  >
                  <span>Compatible with Material & Bootstrap</span>
                </li>
              </ul>
              <p>
                In labore cum vitae voluptatem corrupti? Reprehenderit,
                corporis! In labore cum vitae voluptatem corrupti?
                Reprehenderit, corporis!
              </p>
            </div>
            <div class="col-md-5 text-end">
              <div class="img-cap">
                <div class="tab-icon">
                  <i class="material-icons">code</i>
                </div>
                <img
                  src="assets/images/iphone.png"
                  alt="Customization Screenshot"
                />
              </div>
            </div>
          </div>
        </mat-tab>

        <!-- Documentation Tab -->
        <mat-tab label="Documentation">
          <div class="row mt-50 mx-0">
            <div class="col-md-7">
              <h3 class="mb-20">Well-Written Docs</h3>
              <p class="mb-30">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam eos nostrum pariatur mollitia, adipisci quas soluta
                itaque aperiam asperiores, praesentium aut aliquam debitis ipsum
                totam. Unde quibusdam, at nesciunt veritatis libero distinctio
                mollitia, nobis blanditiis sint officia corrupti itaque repellat
                recusandae animi. In labore cum vitae voluptatem corrupti?
                Reprehenderit, corporis!
              </p>
              <ul class="icons-list list-unstyled">
                <li class="fs-22 mb-25 d-flex align-items-center">
                  <i class="material-icons fs-24 me-20">menu_book</i>
                  <span>Step-by-step guides for developers</span>
                </li>
                <li class="fs-22 mb-25 d-flex align-items-center">
                  <i class="material-icons fs-24 me-20">school</i>
                  <span>Code snippets with explanations</span>
                </li>
                <li class="fs-22 mb-25 d-flex align-items-center">
                  <i class="material-icons fs-24 me-20">help_outline</i>
                  <span>FAQs and troubleshooting tips</span>
                </li>
              </ul>
              <p>
                In labore cum vitae voluptatem corrupti? Reprehenderit,
                corporis! In labore cum vitae voluptatem corrupti?
                Reprehenderit, corporis!
              </p>
            </div>
            <div class="col-md-5 text-end">
              <div class="img-cap">
                <div class="tab-icon">
                  <i class="material-icons">library_books</i>
                </div>
                <img
                  src="assets/images/iphone.png"
                  alt="Documentation Screenshot"
                />
              </div>
            </div>
          </div>
        </mat-tab>

        <!-- Responsive Tab -->
        <mat-tab label="Responsive">
          <div class="row mt-50 mx-0">
            <div class="col-md-7">
              <h3 class="mb-20">Fully Responsive Design</h3>
              <p class="mb-30">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam eos nostrum pariatur mollitia, adipisci quas soluta
                itaque aperiam asperiores, praesentium aut aliquam debitis ipsum
                totam. Unde quibusdam, at nesciunt veritatis libero distinctio
                mollitia, nobis blanditiis sint officia corrupti itaque repellat
                recusandae animi. In labore cum vitae voluptatem corrupti?
                Reprehenderit, corporis!
              </p>
              <ul class="icons-list list-unstyled">
                <li class="fs-22 mb-25 d-flex align-items-center">
                  <i class="material-icons fs-24 me-20">devices</i>
                  <span>Mobile-first layout principles</span>
                </li>
                <li class="fs-22 mb-25 d-flex align-items-center">
                  <i class="material-icons fs-24 me-20">open_in_full</i>
                  <span>Fluid grids and adaptive spacing</span>
                </li>
                <li class="fs-22 mb-25 d-flex align-items-center">
                  <i class="material-icons fs-24 me-20">touch_app</i>
                  <span>Touch-friendly UI elements</span>
                </li>
              </ul>
              <p>
                In labore cum vitae voluptatem corrupti? Reprehenderit,
                corporis! In labore cum vitae voluptatem corrupti?
                Reprehenderit, corporis!
              </p>
            </div>
            <div class="col-md-5 text-end">
              <div class="img-cap">
                <div class="tab-icon">
                  <i class="material-icons">smartphone</i>
                </div>
                <img
                  src="assets/images/iphone.png"
                  alt="Responsive UI Preview"
                />
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
