<div id="service-section" class="section-two py-50 py-md-80 bg-grey">
  <div class="container">
    <div fxLayout="column" class="text-center mb-50">
      <div class="col-lg-7 mx-auto">
        <h2 class="title-page">Soccer API In Action</h2>
      </div>
    </div>
    <div class="col-md-10 mx-auto">
      <div class="row align-items-center mb-80 mb-lg-0">
        <div class="col-md-6 mb-40 mb-lg-0">
          <div class="service-card-two px-lg-40">
            <div class="service-title mb-20">
              <h2 class="h1">Collecting Statistics and Market Values</h2>
            </div>
            <div class="content-cap">
              <p>
                With only a few lines of code, generate the market value or a number of 
                advanced statistics for any player from any season. Tedious hours of data 
                collection are now fast and simple, enabling better data collection and 
                data analysis.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img class="rounded" src="assets/images/Code1.png" alt="" />
        </div>
      </div>
      <div class="row align-items-center mb-80 mb-lg-0">
        <div class="col-md-6 mb-40 mb-lg-0">
          <img class="rounded" src="assets/images/Code2.png" alt="" />
          <img class="rounded" src="assets/images/graph.png" alt="" />
        </div>
        <div class="col-md-6">
          <div class="service-card-two px-lg-40">
            <div class="service-title mb-2">
              <h2 class="h1">Generating Data Visualizations</h2>
            </div>
            <div class="content-cap">
              <p>
                Create professional data visualizations and take your match 
                analysis to the next level using Soccer API’s seamless 
                visualization integration, which can generate scatter plots, 
                radar charts, data tables, and Venn Diagrams.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-80 mb-lg-0">
        <div class="col-md-6 mb-40 mb-lg-0">
          <div class="service-card-two px-lg-40">
            <div class="service-title mb-2">
              <h2 class="h1">Working With Match Data</h2>
            </div>
            <div class="content-cap">
              <p>
                Soccer API’s object-oriented design makes working with match data 
                incredibly simple. Get future fixtures, live results and past fixtures 
                easily. Additionally, simple function calls can generate lineups 
                and match statistics.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img class="rounded" src="assets/images/Code3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
